body {
    margin: 0;
    padding: 0;
}

@keyframes moveInTop {
    from {
        height: 0vh;
    }

    to {
        height: 50vh;
    }
}


#top-half {
    width: 100%;
    background-color: red;
    animation: moveInTop 5s ease-in-out forwards;
}


#bottom-half {
    width: 100%;
    height: 50vh;
    background-color: blue;

    position: sticky;
}