@font-face {
    font-family: Apercu;
    src: url(https://github.com/scazan/ACN_responsive/blob/master/fonts/apercu-regular-webfont.ttf?raw=true);
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: Apercu;
}

.not-selectable {
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    pointer-events: none;
}

.selectable {
    -webkit-user-select: auto;        
    -moz-user-select: auto;
    -ms-user-select: auto; 
    user-select: auto;
    pointer-events: auto;
}

.hero-content {
    color:white;
    min-height: 70vh;
}

.hero-content p {
    font-size: 1.5em;
    text-align: center;
}

.hero-content h1 {
    font-family: Apercu, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 50px;
    color: white;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.btn-usyd {
    color: #FFFFFF;
    background-color:#e64626;
    border-color: #e64626;
}

.btn-usyd:hover {
    color: #FFFFFF;
    background-color: #d4482c;
    border-color: #d4482c;
    text-decoration: none !important;
}

#goto-main {
    text-decoration: none;
}

.overlay-content {
    z-index: 1; 
    position: absolute; 
}